@model ProductListModel
@{
    ViewData["Title"] = "List";
}
<div class="col-3">
    <ul class="list-group">
        <li class="list-group-item">Telefon</li>
        <li class="list-group-item">Elektronik</li>
        <li class="list-group-item">Bilgisayar</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
</div>
<div class="col-9">

<div class="row">
    @foreach (var item in Model.Products)
    {
        <partial name="_product" for="@item" />
    }
</div>
